<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>whine</display-name>

    <!-- web.xml을 먼저 타기 때문에, 글자를 걸러줌
     프로젝트를 서로 교환하거나 할때 코드가 깨지지 않도록 필터링 해주는 역할을 함
     Http상에서 주고받는 데이터의 헤더값을 UTF-8로 인코딩 해줌으로서 다국어 지원을 보장해줌-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!--/*이하로 들어오는 애들을 CharacterEncodingFilter를 사용한다는 것을 매핑!-->
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--서블릿은 웹서버에서 수행되는 자바 실행파일로 구현 시 상속해야 하는 부모가 정해져 있으며,
    메서드 오버라이딩(do get,do post, do service etc) 기법을 적용하여 구현하는 자바의 실행파일임-->
    <servlet>
        <servlet-name>winni</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/*-config.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>winni</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--시작페이지 설정-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

</web-app>